.logo {
  width: 3rem;
  height: 3rem;
}

.principal {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)),
    url("../img/pexels-johannes-plenio-1632790.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.barranav {
  background-color: white;
}

.fst-italic {
  padding-bottom: 1rem;
}

.btn:hover {
  background-color: white;
  color: green;
}

.whatsapp:hover {
  background-color: green;
  color: white;
}

/*FOOTER*/

footer {
  background-color: #0d0d0d;
  grid-area: footer;
}
.redes {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}

.iconosredes i {
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
  i:hover {
    opacity: 0.5;
  }
}

.copyright {
  color: white;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  a {
    color: white;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
  }
  a:hover {
    color: #b6f2ec;
    text-decoration: underline;
  }
}

.icono {
  padding: 0.5rem 0.5rem;
  font-size: 3rem;
}
